{% extends 'base.html' %}
{% block page_content %}
    <script type="text/javascript" src="../static/js/aws_route53_hosted_zones.js"></script> 
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link href="../static/css/aws_hosted_zones.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                 <h1 class="account_name">AWS Account: {{ aws_account }}<h1>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="loader-container" id="loader">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <table id="aws_hosted_zones" class="display" style="width:100%;display:none">
            <thead>
                   <tr>
                       <th>Name</th>
                       <th>Description</th>
                       <th>ID</th>
                       <th>PrivateZone</th>
                       <th>Total Records</th>
                   </tr>
            </thead>
            <tbody></tbody>
            </table>
    </div>
{% endblock %}
